/** DOCTYPE CSS **/

/** Goggle font **/

.dancing-script-<uniquifier> {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
    margin: 0px;
    background-color: rgb(144, 228, 247);

}
 
/** styling for Desktop and Laptops **/

/** styling wrappers **/

#top-note-book {
    width: 350px;
    height: 50px;
    margin: 100px auto 0px auto;
    background-color: tan;
    font-size: 30px;
    padding-left: 4px;
    position: relative;
    border-right: 4px solid rgb(202, 182, 156);
    box-shadow: -5px 25px 10px 6px rgb(91, 200, 224);
    
}

#note-book-body {
    background-color: rgb(78, 63, 63);
    display: block;
    width: 350px;
    height: 450px;
    margin: auto;
    padding: 0px;
    position: relative;
    box-shadow: -5px 25px 10px 6px rgb(91, 200, 224) ;
    border-right: 4px solid rgb(255, 255, 197);

}

/** styling text **/

h2 {
    font-weight: 100;
    color: gray;
    margin: 0px;
    height: 70px;
    padding-top: 25px;
    padding-bottom: 15px;
    box-sizing: border-box;
    width:350px;
    background-color: rgb(255, 255, 169);
    text-align: center;
    position: relative;
    top: 0px;
    bottom: 0px;
    box-shadow: 4px -1px 0px 0px rgb(255, 255, 197);
    font-family: cursive;
    border-bottom: 2px solid skyblue;
 

}

/** styling lists **/

ul {
    background-color: rgb(255, 255, 169);
    list-style: none;
    margin: 0px auto;
    position:relative;
    width: 350px;
    height: 400px;
    left: 0px;
    right: 0px;
    padding: 0%;
    box-shadow: 4px 0px 0px 0px rgb(255, 255, 197);

}

/** styling icons **/

#menu {
    position: relative;
    float: right; 
    padding: 10px 10px 10px 0px;
    color: rgb(183, 148, 103);
    height: 25px;
    width: 25px;
  
 
}


.can {
    background-color: lightcoral;
    padding: 6px 10px 6px 10px;
    position: absolute;
    float: right; 
    color: white;
    box-sizing: content-box;
    opacity: 0;
}

.can:hover  {
    position:absolute;
    opacity: 1;
    float: right;
 
}

hr {
    padding: 0px;
    margin: 0px;
    border-bottom: 1px solid lightgray;
}

/** Styling inputs **/

.visible {
    opacity: 1;
}

.box {
    opacity: 0;
}

.box, .visible {
    padding: 10px 10px;
    float: left;
    margin: 10px 10px;
    position: absolute;
    background-color: rgb(255, 255, 169);
    

}

.text {
    height: 30px;
    width:316px;
    border: 0px;
    padding: 0px 0px 0px 30px;
    margin: 0px;
    position: clear;
    margin: 0px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 169);
    font-family: cursive;
    color: gray;
    font-weight: 100;
    font-size: medium;

 
}

.text:focus {
    border: 2px solid yellow;
}
